/venv/
/Auto_send_email/automate_email.py
/Python_DeepDive/OOP_project_1.py
/Python_DeepDive/OOP_project_2.py
/Python_DeepDive/OOP_project_3.py
/Auto_send_email/requesting.py
/Auto_send_email/test_jinja2.py
/API_Booking/config.py
