/venv/
/Trungtamdaykem_Scraper/automate_email.py
/Python_DeepDive/OOP_project_1.py
/Python_DeepDive/OOP_project_2.py
/Python_DeepDive/OOP_project_3.py
/Trungtamdaykem_Scraper/requesting.py
/Trungtamdaykem_Scraper/test_jinja2.py
/config.py
/Booking_Scraper/chromedriver.exe
/Trello_API/trello api token.txt
/Python_DeepDive/Working_with_files.py
